.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.infoDateModal{
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
label{
    width: 150px;
}
}


input[type=datetime-local] {
    height: 35px;
    margin: 0 auto;
    width: 100%;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cecece;
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 0 3px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
  }
  input[type=datetime-local]::-webkit-datetime-edit-month-field {
    color: rgb(62, 62, 62);
  }
  input[type=datetime-local]::-webkit-datetime-edit-day-field {
    color: rgb(62, 62, 62);
  }
  input[type=datetime-local]::-webkit-datetime-edit-year-field {
    color: rgb(62, 62, 62);
  }
  input[type=datetime-local]::-webkit-datetime-edit-hour-field {
    color: rgb(62, 62, 62);
    margin-left: 20px;
  }
  input[type=datetime-local]::-webkit-datetime-edit-minute-field {
    color: rgb(62, 62, 62);
    
  }


  input[type=datetime-local]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  input[type=datetime-local]::-webkit-inner-spin-button {
    height: 30px;
  }
  input[type=datetime-local]::-webkit-calendar-picker-indicator {
    font-size: 18px;
  }
  input[type=datetime-local]::-webkit-calendar-picker-indicator:hover {
    background-color: #959595;
    color: #e6e6e6;
    cursor: pointer;
  }
  input[type=datetime-local]::-webkit-calendar-picker-indicator:active {
    color: blue;
  }
